// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


*{
  color:#689;
  text-decoration: none;
  font-family: 'klee';
}

p:hover{color: #467;}



