// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


*{
  color:#689;
  text-decoration: none;
  font-family: 'klee';
}

p{transition: 0.5s;}
li a{transition: 0.5s; border: 1px solid #acd;}
p:hover{color: #245;}
li a:hover{color: #134;}



